<header class="row header">
    <div class="col-xs-0 col-sm-1"></div>
    <div class="col-xs-12 col-sm-10">
        <h1> Jan.tf </h1>
        <nav>
            <a href="/">Home</a>
            <a href="/">Projects</a>
            <a href="/posts">Writing</a>
            <a href="/">About</a>
        </nav>
        <span id="search_btn" class="icon-search"></span>
        <label id="search_label" hidden>Search</label>
        <input id="search_field" aria-labelledby="search_label" type="text" placeholder="Search" />
    </div>
    <div class="col-xs-0 col-sm-1"></div>
</header>