$darkpurple: #160f29ff
$ming: #246a73ff
$ruby: #d81e5bff
$timberwolf: #cecfc7ff
$platinum: #efe9e7ff
$isabelline: #f4efeefe

$independence: #3a506b
$independence-10: #93A8B5
$independence-70: #5E7389

$blue: #98dfeaff
$darkblue: #4c7781
$babypowder: #FDFFFC

$madder: #CC2936
$madder-10: #E06A6D
$madder-70: #D64952

$white: #fff
$black: #000

$gray: #7c7c7cff
$gray-10: #f2f2ff

$muted-text: $black

$foreground: $independence
$foreground-10: $independence-10
$foreground-70: $independence-70
    
$background: $babypowder
$accent: $madder
$muted: $isabelline

$accent-10: $madder-10
$accent-70: $madder-70