$purple: #7e2e84ff
$purple-70: #98529D
$purple-10: #A563A9


$black: #383d3bff
$blue: #98dfeaff
$white: #ffffffff
$gray: #7c7c7cff
$gray-10: #f2f2ff

$muted-text: $gray

$highlight: $purple
$highlight-10: $purple-10
$highlight-70: $purple-70

$lowlight: $blue