@use "@fontsource/noto-serif/scss/mixins" as OpenSans

@import 'colors'

@include OpenSans.fontFaceCustom($weight: 400, $display: swap, $woff2Path: "~@fontsource/noto-serif/files/noto-serif-latin-400-normal.woff2", $unicodeRange: false)

$font-serif: 'Noto Serif', serif
$font-sans-serif: 'Noto Serif', sans-serif

body
    font-family: $font-serif

nav
    a
        font-family: $font-sans-serif
        text-transform: lowercase
        text-decoration: none
        font-weight: bold
        font-size: 13pt

h1, h2, h3, h4
    font-family: $font-sans-serif

form
    font-family: $font-sans-serif

input
    font-size: 11pt

select
    font-size: 11pt

p
    font-feature-settings: "kern" 1
    font-kerning: normal
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale

button
    font-family: $font-sans-serif
    text-transform: uppercase
    font-weight: bold
    letter-spacing: 1px

figure
    text-align: center
    figcaption
        color: $muted-text
        font-style: italic

blockquote
    font-style: italic
    border-left: 4px solid $accent
    margin: 0px
    padding-left: 20px

.math
    text-align: center

.text-muted
    color: $muted-text
