// All styling that is essential for rendering the page
@import '~flexboxgrid/dist/flexboxgrid.css'
@import 'typography'
@import 'colors'

$border-radius: 5px
$box-shadow: 0 4px 6px #0000001c, 0 1px 3px rgba(0, 0, 0, .1)
$hover-scale: 1.03
$animation-speed: 0.15s

$padding: 8px
$margin: 5px 5px 5px 0

body
    background-color: $background

header
    text-align: right

    h1
        margin-right: $padding

nav
    a
        margin: $margin
        position: relative
        padding-bottom: 7px

        &:before
            content: ''
            position: absolute
            bottom: 2px
            left: 0
            right: 0
            height: 1.5px
            background-color: $accent
            opacity: 0
            transform: translateY(-3px)
            transition: transform 0s, opacity 0s

        &:hover, &:focus
            &:before
                opacity: 1
                transform: translateY(0)

            &:before
                transition: transform $animation-speed, opacity $animation-speed


figure
    img
        max-width: 100%
        box-shadow: $box-shadow
        border-radius: $border-radius

select
    appearance: none
    padding: $padding
    border: 1px solid $white
    border-bottom: 1px solid $accent
    border-radius: $border-radius
    margin: $margin
    background-color: $white
    box-shadow: $box-shadow

    &:focus
        border: 1px solid $accent

input
    appearance: none

input[type="text"]
    padding: $padding
    border: none
    box-shadow: $box-shadow
    margin: $margin
    border-radius: $border-radius
    border: 1px solid $white

    &:focus
        border: 1px solid $accent

input[type="radio"]
    border-radius: 50%
    width: 16px
    height: 16px
    border: 1px solid $accent
    margin-right: 5px
    transition: all $animation-speed

    &:checked
        border: 5px solid $accent

    &:disabled
        background-color: $gray-10
        border: 1px solid $gray

button
    padding: 10px
    border: none
    border-radius: $border-radius
    background-color: $foreground
    color: $white
    box-shadow: $box-shadow
    margin: 3px
    transform: scale(1)
    transition: all $animation-speed

    &:disabled
        background-color: $foreground-10
        &:hover
            background-color: $foreground-10
            transform: scale(1)
    
    &:hover
        background-color: $foreground-70
        transform: scale($hover-scale)

    &.secondary
        background-color: $white
        color: $foreground

        &:disabled
            color: $foreground-70
            background-color: $white
            &:hover
                background-color: $white
                transform: scale(1)
    
    &.tertiary
        background-color: $accent
        color: $white

        &:hover
            background-color: $accent-70

a
    color: $accent
    &:hover
        color: $accent

footer
    height: 250px
    background-color: $muted
    margin-top: 50px

.icon-search
    display: inline-block
    width: 28px
    height: 28px
    background-color: $accent
    mask: url('icons/search.svg') no-repeat center
    vertical-align: middle
    margin-right: 10px


#search_btn
    transition: transform $animation-speed
    transform: scale(1)

    &:hover, &:focus
        transform: scale($hover-scale)

#search_field
    width: 200px
    transition: width $animation-speed
    
    &.hide
        width: 0
        padding-left: 0
        padding-right: 0
        margin-left: 0
        margin-right: 0
        visibility: hidden
